.multi-feature-banner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

.multi-feature-banner-card {
  flex: 1 1 calc(25% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}

.multi-feature-banner-card-two {
  width: 25%;
  height: 471px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.multi-feature-banner-card h2 {
  font-size: 1.2em;
  margin: 16px;
}

.multi-feature-card-content {
  padding: 16px;
}

.multi-feature-image-grid {
  width: 100%;
  height: 333px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.multi-feature-image-grid img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* This is equivalent to resizeMode='cover' */
  border-radius: 8px;
}

.image-text-pair {
  /* Style each image-text pair */
  /* width: calc(25% - 10px); /* Set width for each pair (adjust for spacing) */
  margin: 5px; /* Add some margin between pairs */
  text-align: center; /* Center the content within each pair */
}

.image-text-pair img {
  width: 100%;
  height: 70%;
  object-fit: contain; /* This is equivalent to resizeMode='cover' */
  border-radius: 8px;
}

.image-text-pair p {
  /* Style the text description */
  /* Add some margin above and below text */
  font-size: 14px; /* Adjust font size as needed */
}
